/* src/Components/DocumentForm.css */

.document-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0f0f0f;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #fbbf24; /* Amber color */
}

/* Styling for select, input, and textarea */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: rgb(15, 14, 14); /* Ensure the background is dark */
  color: #f9f3f3; /* Ensure the text is visible */
}

/* Styling for select dropdown specifically */
select {
  background-color: rgb(57, 57, 57);
  color: #f4eeee; /* Dark text for contrast */
  border: 1px solid #0b0b0b; /* Light border */
  padding-right: 30px; /* Optional, for padding the dropdown arrow */
  appearance: rgb(255, 255, 255); /* Remove default arrow */
  -webkit-appearance: white;
  -moz-appearance: none;
}

select:focus {
  border-color: #fbbf24; /* Amber color when focused */
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5); /* Subtle focus effect */
}

select::-ms-expand {
  display: none; /* Hide the default dropdown icon for Internet Explorer */
}

/* Specific Button Styles for DocumentForm */
.document-form button.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.document-form button.submit-button:hover {
  background-color: #45a049;
}

.document-form button.submit-button[type="submit"] {
  padding: 12px 24px;
  font-size: 1.125rem;
}

.document-form button.delete-button {
  background-color: #e74c3c;
  padding: 5px 10px;
  font-size: 1rem;
}

.document-form button.delete-button:hover {
  background-color: #c0392b;
}

/* Style for dynamically added party input fields */
.party-input {
  display: flex;
  gap: 10px;
}

.party-input button {
  background-color: #e74c3c;
  font-size: 16px;
  padding: 5px;
  color: white;
}

.party-input button:hover {
  background-color: #c0392b;
}
