.footer {
    background-color: #111;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: #ddd;
  }
  
  .footer-section {
    max-width: 200px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-branding {
    text-align: center;
  }
  