body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

h1,
h2,
h3 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
